.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  height: 105px;
}

.nav-logo {
  display: flex;
  align-items: center;

  &__text {
    text-align: center;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    margin-left: 18px;
    text-transform: uppercase;
    color: #333333;
  }
}

.nav-bar {
  display: flex;
  &__link {
    @include subtitle;
    margin-left: 34px;
    font-size: 12px;

    a {
      color: #404040;
    }
  }
}
