.main-title {
  background-image: url("../img/mainTitleBack.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 105px;
  height: 500px;

  &__text {
    left: calc(50% - 672px / 2);
    @include subtitle;
    font-size: 44px;
    line-height: 55px;
    color: #ffffff;
  }
  &__text::after {
    content: "";
    display: block;
    width: 80px;
    margin: 28px auto 25px;
    border-bottom: 2px solid white;
  }

  &__detail {
    @include descr;
    color: rgba(255, 255, 255, 0.81);
  }

  &__cross {
    width: 50px;
    margin: 286.5px auto 0;
  }
}

.main-descr {
  height: 290px;
  background: #fefec9;

  &__descr {
    @include descr;
    padding-top: 60px;
    margin: auto;
    width: 800px;
    text-align: center;
    font-size: 18px;
    color: $grey;
    line-height: 25px;
  }

  &__button {
    margin-top: 53px;
  }
}
